<div class="row footer">
  <div class="col-xs-auto footer__section">
    <h2 class="footer__header">Contáctanos</h2>
    <p class="footer__text">Ateción a clientes 222 3 24 25 26</p>
    <p class="footer__text space-top">revendeauto@contacto.mx</p>
    <p class="footer__text space-top">Enviámos un WhatsApp</p>
  </div>
  <div class="col-xs-auto footer__section">
    <h2 class="footer__header">Corporativo</h2>
    <a href="#" class="footer__link">Nosotros</a>
    <a href="#" class="footer__link space-top">Sala de Prensa</a>
    <a href="#" class="footer__link space-top">Bolsa de Trabajo</a>
  </div>
  <div class="col-xs-auto footer__section">
    <h2 class="footer__header">Noticias y Eventos</h2>
    <a href="#" class="footer__link">Conoce los próximos eventos</a>
    <a href="#" class="footer__link space-top">Noticias y Promociones</a>
  </div>
</div>