.route-item {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}

.separator {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 20px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-left: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // nos hará breakpoints cada 300px
}